# Node.js
node_modules/
/.node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files


# IDEs
.vscode/
.idea/

# Dependency directories
bower_components/

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
